/*这是blog页面的css文件*/
body {
    margin: 0;
}

a {
    text-decoration: none;
}

/*blog 左侧样式区*/
.left {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #4d4d4d;
    height: 100%;
    width: 20%;

}
.avatar {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.avatar>imag {
    width: 100%;
}
/*右侧样式区*/
.right {
    /*heigt根据内容来决定*/
    width: 80%;
    background-color: #eee ;
    float: right;
}